@font-face {
  font-family: "TTFirsNeueBold";
  src: url("../fonts/TTFirsNeueBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TTFirsNeueLight";
  src: url("../fonts/TTFirsNeueLight.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TTFirsNeueNormal";
  src: url("../fonts/TTFirsNeueMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
