$ErrorColor: #FF3030;
$ErrorSubscribe: #F06666;
$activeBtnColor: #CE4307;
$hoverBtnColor: #BC572B;
$hoverAndBtnColor: #FF6E30;
$white: #FFF;
$textonBlackColor:#CACACA;
$dateColor: #999999;
$inputColor: #E9E9E9;
$subcribeInputColors: #4A4A4A;
$mainDark: #202020;
